.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/ctrlc-windows
src/**
.gitignore
.gitattributes
.yarnrc
.npmrc
.github/**
coverage/**
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
__mocks__
test-workspace/**
